


<div class="modal-header navbar-inverse">
  <button type="button" class="close modal-close" data-dismiss="modal"
  aria-hidden="true">×</button>
  <% if (event.get("title")){ %>
  <h1 class="modal-title lighten-inverse" id="myLargeModalLabel">Edit Calendar</h1>
  <% } else { %>
  <h1 class="modal-title lighten-inverse" id="myLargeModalLabel">Create Calendar</h1>
  <% } %>
</div>
<!-- Body -->
<div class="modal-body">
<div class="jumbotron hero hero navbar-inverse">
<div class="form-group">
  <div>

    <label>Date
      <br><input type="date" name='event[date]' value="<%= event.escape('date') %>">
    </label>

<div>
<label>Title
<br><input type='text' name='event[title]' value='<%= event.escape('title') %>'>
</label>



<label>Notes
<br><input type='text' name='event[notes]' value='<%= event.escape('notes') %>'>
</label>
</div>

<div>
  <label>Calendar
    <br><select name='event[calendar_id]'>
      <% calendars.each(function(calendar) { %>
        <option value="<%= calendar.id %>"><%= calendar.escape('title') %></option>
      <% }) %>
      </select>
  </label>
</div>


</label><br><button class="btn btn-primary">Submit</button>
<br>
</div>
</div>
</div>
</div>
<!-- Footer -->
<div class="modal-footer">
  <button type="button" class="close modal-close" data-dismiss="modal"><a href='#/'>Back</a></button>

</div>