<div class="jumbotron hero"><h1> <span class="glyphicon glyphicon-briefcase"></span> Docket  </h1>


<% if (calendars.length > 0) { %>
  <% calendars.each(function (calendar) { %>
  <div class="btn-group">

    <button type="button" class="btn btn-inverse">
    <span class="glyphicon glyphicon-calendar"></span>
     <%= calendar.escape("title") %></button>

    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#calendars/<%= calendar.escape("id") %>/edit">Edit</a></li>
      <li class="divider"></li>
      <li><a data-id="<%= calendar.escape("id")%>" class="delete-calendar" href="#">Delete</a></li>
    </ul>
  </div>
  <% }) %>

<a href="/#calendars/new" class="btn btn-inverse" id="new-cal"><span class="glyphicon glyphicon-calendar"></span>  </a>


<a href="/#entries/new" class="btn btn-inverse" id="new-event"> <span class="glyphicon glyphicon-plus"></span> </a><br><br>

</div>



<ul class="nav nav-pills nav-justified navbar-inverse" id="time-tags">
  <li id="all"><a href="#">All Plans</a></li>
  <li id="missed"><a href="#missed">Missed</a>
  <li id="today"><a href="#today">Today</a></li>
  <li id="week"><a href="#week">Week</a></li>
  <li id="month"><a href="#month">Month</a></li>
</ul>



  <% entries.each(function(entry) { %>
    <div class="panel-group" id="accordion">
      <div class="panel panel-inverse">
      <div class="panel-heading">
      <a class="togglelink" data-toggle="collapse" data-parent="accordion" href="#collapse<%= entry.id %>">

      <% if(entry.escape("date")){ %>
      <% var d = new Date(entry.escape("date")) %>

      <% var weekdays = new Array(); weekdays[0] = "Sunday"; weekdays[1] = "Monday"; weekdays[2] = "Tuesday"; weekdays[3] = "Wednesday"; weekdays[4] = "Thursday"; weekdays[5] = "Friday"; weekdays[6] = "Saturday"; %>

      <% var months = new Array(); months[0] = "January"; months[1] = "February"; months[2] = "March"; months[3] = "April"; months[4] = "May"; months[5] = "June"; months[6] = "July"; months[7] = "August"; months[8] = "September"; months[9] = "October"; months[10] = "November"; months[11] = "Decemeber"; %>

      <% var dd =  d.getDate()+ 1 %>
      <% var mm = d.getMonth() %>
      <% var ww = d.getDay()+1 %>

      <div class="date-holder">
        <span class="day"><%= dd %></span>
        <div class="week-month">
          <span class="month"><%= months[mm] %></span>
          <span class="weekday"><%= weekdays[ww] %></span>
        </div>
      </div>
  <% } else { %>
    <div class="date-holder">
      <span class="glyphicon glyphicon-send"></span>
      <div class="week-month">Plan</div>
    </div>
  <% } %>

      <% entry.escape("date_string") %>
      <%= entry.escape("title") %></a>

    </div>

      <div id="collapse<%= entry.id%>" class="panel-collapse collapse">
      <div class="panel-body panel-entries">
      <h4><%= entry.escape("title") %></h4>
        <div class="jumbotron"><h3> <span class="glyphicon glyphicon-pencil"> </span><%= entry.escape("notes") %></h3></div>
		     <span class="glyphicon glyphicon-calendar"></span> <%= calendars.get(entry.escape("calendar_id")).escape("title") %> <br>

        <a href="#entries/<%= entry.escape('id')%>/edit" >Edit</a> -
        <a data-id="<%= entry.escape("id")%>" data-calendar-id ="<%= entry.escape("calendar_id") %>" class="delete-event" href="#">Delete</a></li>


      </div>
      </div>
    </div>
 <% }) %>

<div>


<% } else { %>
  You have no calendars <br>
<% } %>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip({
    'placement': 'top'
  });
  $('[data-toggle="popover"]').popover({
      trigger: 'hover',
          'placement': 'top'
  });

  $('#new-cal').tooltip({
      'show': true,
          'placement': 'bottom',
          'title': "Click the Button to Create a New Calendar"
  });
	
  $('#new-event').tooltip({
      'show': true,
          'placement': 'bottom',
          'title': "Click the Button to Create a New Event"
  });


});
</script>


