<h1 class="well well-lrg"> Docket - Calendars <Br><a href="/#calendars/new" class="btn btn-primary"> Add New Calendar </a></h1>

<% if (calendars.length > 0) { %>

  <% calendars.each(function (calendar) { %>
  <div class="btn-group">

    <button type="button" class="btn btn-inverse">
    <span class="glyphicon glyphicon-calendar"></span>
     <%= calendar.escape("title") %></button>

    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="#">Toggle</a></li>
      <li><a href="#calendars/<%= calendar.escape("id") %>/edit">Edit</a></li>
      <li><a href="#">Share</a></li>
      <li class="divider"></li>
      <li><a data-id="<%= calendar.escape("id")%>" class="delete-calendar" href="#">Delete</a></li>
    </ul>
  </div>




  <% }) %>
  <br>
  <% calendars.each(function (calendar) { %>
    <% calendar.entries().each(function(entry) { %>
    <%= entry.escape("title") %> <br>
    <%= entry.escape("notes") %> <br>
    <%= entry.escape("date") %> <br>
    <% }) %>
  <% }) %>

<% } else { %>
  You have no calendars <br>
<% } %>







