



<div class="jumbotron center">

  <button class="btn btn-primary"> DEMO USER </button>

  <h2>Sign up with Email</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><!-- <%= f.label :email %> -->
  <%= f.email_field :email, autofocus: true, placeholder: "Email Address" %></div>

  <div>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    <!-- <%= f.label :password %> -->
  </div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmation" %>
    <!-- <%= f.label :password_confirmation %> -->
  </div>
    <br>

  <div><%= f.submit "Sign up with Email", class: 'btn btn-primary' %></div>
<% end %>

<h2>Sign up with Google</h2>

<h4>
<%= render "devise/shared/links" %>
</h4>
</div>




