<h1> Calendars </h2>

<%= "You have no calendars" if @calendars.empty? %>

<% @calendars.each do |c| %>
<%= c.title %>
<ul>
  <% c.events.each do |e| %>
    <li> <%= e.title%> - <%= e.date %> - <%= e.notes %></li>
  <% end %>
</ul>

<% end %>