<div class="jumbotron center">
  <button class="btn btn-primary"> DEMO USER </button>


<h2> Sign in with Email </h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in with Email", class: 'btn btn-primary' %></div>
<% end %>


<h2> Sign in with Google </h2>

<h4>
<%= render "devise/shared/links" %>
</h4>
</div>


