<!DOCTYPE html>
<html>
<head>
  <title>Docket</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>



</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-briefcase"></span> Docket Calendar</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li><%= link_to "My Calendars", calendars_url %></li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>

        <% end %>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li class="dropdown">
            <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle"
            data-toggle="dropdown">
            <% if current_user.name %>
            <%= image_tag avatar_url(current_user), id: "avatar" %>
            <%= current_user.name %>
            <% else %>
            <%= current_user.email %>
            <% end %>
            <b class="caret"></b></a>

            <ul class="dropdown-menu">
  <li><%= link_to "Sign Out", destroy_user_session_url, method: :delete %></li>
            <!-- <li class="divider"></li>
              <li><a href="#">Link Account</a></li>
            </ul> -->
            <% else %>
            <a href="#" class="dropdown-toggle"
            data-toggle="dropdown">Sign in / Sign Up
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Sign In", new_user_session_url %></li>
              <li><%= link_to "Sign Up", new_user_registration_url %></li>
						  <%- resource_class.omniauth_providers.each do |provider| %>
						    <li><%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-danger'%></li>
								<% end %>

            </ul>
            <% end %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <% if notice %>
  <p class="notice alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert alert-warning"><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
